<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="title">Bookmark a movie</h1>

  <%= link_to "Back to the list", list_path(@list), class: "btn btn-light" %>
</div>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add a movie", class: "btn btn-light" %>
<% end %>
